.searchButton{
  padding: 6px 12px;
  font-size: 14px;
  height: auto;
  background: #ab925e !important;
  border-radius: 4px;
}
.searchButton:hover, .searchButton:active{
  background: #7c6329 !important;
}
